.sideStackLayout {
    background-color: gray;
}

.sideTitleStackLayout {
    padding: 10;
    text-align: center;
}

.sideLabel {
    padding: 10;
}

.sideLightGrayLabel {
    background-color: lightgray;
}
.btn{
    color: white;
}
.hr-blue {
  height: 1;
  background-color: #B4E0EB;
  width: 100%;
}

.login-m{
    margin-top: 27%;
}

.font{
      font-size: 48;

}