@import 'styles/_guanplus.theme.scss';

.dialog-background {
    height: 70%;
    background-color: white;
}

.dialog {
  border-color: $primary;
  background-color: white !important;
  border-width: 1;
  height: 300;
  padding-top: 10;
  margin: 40,10;
  border-radius: 20;
  .title {
    color: $text-color;
    text-align: center;
  }
  .datePicker {
    color: $text-color;
    background-color: white !important;
    /*margin-left: 20;
    margin-right: 20;*/
    margin-bottom: 20;
  }
  .dialogButton {
    padding: 10;
    text-align: center !important;
    border-color: $primary;
    border-width: 1;
    width: 50%;
  }
  .okay {
    color: $white;
    background-color: $primary;
  }
  .close {
    color: $text-color;
  }
}
